/*Additional for style*/
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
}
body::after {
  content: "";
  background-image: url("../img/ckfinder/files/background.jpg");
  opacity: 0.04;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}
#content-body {
  position: relative;
  padding-bottom: 60px;
  margin-top:100px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-image: url("../img/ckfinder/files/footer-bg.png");
}

#logo-temp {
  margin-top:-30px;
  border:2px solid black;
  background: rgba(255,255,255, 0.85);
  overflow: hidden;
}