.product-package {
	font-family: "Century Gothic", Verdana, "Trebuchet MS",Arial;
	overflow: hidden;
}

.product-package .product-item {
	border-bottom:1px solid #CCC;
	margin-top:10px;
}.product-item .product-pack{
	margin:10px;
	border:1px solid white;
	padding:20px;
	cursor:pointer;
	height: 350px;
}.product-item .product-pack:hover{
	border:1px solid #ccc;
	background: rgba(0,0,0, 0.02);
}.product-item .product-pack div {
	margin:0px auto;
	width: 150px;
}.product-item .product-pack .product-info {
	height:80px;
}.product-item .product-pack .product-info h1{
	margin-top:5px;
	font-size: 1.17em;
	font-weight: bold;
}.product-item .product-pack .product-info h2{
	margin:0px;
	text-decoration: line-through;
	font-style: italic;
	color:gray;
	font-size: 18px;
}.product-item .product-pack .product-info h3{
	margin:0px;
	font-size: 20px;
	font-weight: bold;
}.product-item .product-img img{
	width:100%;
	margin-bottom:5px;
}.product-item .product-img .hotIcon{
	top:0px;
	position: absolute;
	margin-left:-20px;
	margin-top:20px;
	width:50px;
	height: 50px;
}.product-item .product-img .soldOutIcon{
	top:0px;
	position: absolute;
	margin-left:-10px;
	margin-top:60px;
	width:100px;
	height: 50px;
}.product-item .product-img .preorderIcon{
	top:0px;
	position: absolute;
	width:75px;
	margin-top:10px;
	right:0px;
	margin-right:30px;
	opacity: 0.7;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}.product-item .product-pack .product-detail {
	display:none;
}


.modal-body .product-pack{
	padding:10px;
	overflow:hidden;
}.modal-body .product-pack div {
	float:left;
}.modal-body .product-pack .product-info {
	width:400px;
	height:100%;
	margin-left:30px;
}.modal-body .product-pack .product-info h1{
	margin-top:5px;
	font-size: 40px;
	font-weight: bold;
}.modal-body .product-pack .product-info h2{
	margin:0px;
	text-decoration: line-through;
	font-style: italic;
	color:gray;
	font-size: 18px;
}.modal-body .product-pack .product-info h3{
	margin:0px;
	font-size: 36px;
	font-weight: bold;
}.modal-body .product-img{
	width:400px;
	min-height:400px;
}.modal-body .product-img img{
	width:100%;
}.modal-body .product-img .hotIcon{
	top:0px;
	position: absolute;
	margin-left:-20px;
	margin-top:20px;
	width:50px;
	height: 50px;
}.modal-body .product-img .soldOutIcon{
	top:0px;
	position: absolute;
	margin-left:-10px;
	margin-top:60px;
	width:100px;
	height: 50px;
}.modal-body .product-img .preorderIcon{
	top:0px;
	position: absolute;
	width:100px;
	margin-bottom:40px;
	right:0px;
	margin-right: 20px;
	opacity: 0.7;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}.modal-body .product-pack .product-detail {
	margin-top:10px;
	width:400px;
	height:100%;
	margin-left:30px;
}.modal-body .product-pack .product-detail div{
	float:none;
}.product-detail .product-size{
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	padding:10px 0px;
}.product-detail .product-size b{
	margin-right:5px;
	border:1px solid #ccc;
	padding:5px 10px;
	background-color:gray;
	color:white;
	line-height: 30px;
}.product-detail .product-description{
	margin:10px 0px;
	border:1px solid #ccc;
	padding:10px;
}.product-detail a{
	float:right;
}


@media (max-width: 500px) {
	.modal-body .product-pack .product-info {
		width:100%;
		height:100%;
		margin-left:0px;
	}.modal-body .product-pack .product-info h1{
		font-size:25px;
	}.modal-body .product-img{
		width:100%;
		height:100%;
	}.modal-body .product-pack .product-detail {
		width:100%;
		height:100%;
		margin-left:0px;
	}.modal-body .product-pack .product-detail div{
		float:none;
	}


	.modal-body .product-pack{
		padding:10px;
		overflow:hidden;
	}.modal-body .product-pack div {
		float:left;
	}.modal-body .product-img img{
		width:100%;
	}.modal-body .product-img .hotIcon{
		top:0px;
		position: absolute;
		margin-left:-20px;
		margin-top:20px;
		width:50px;
		height: 50px;
	}.product-detail .product-size{
		border-top:1px solid #ccc;
		border-bottom:1px solid #ccc;
		padding:10px 0px;
	}.product-detail .product-size b{
		margin-right:5px;
		border:1px solid #ccc;
		padding:5px 10px;
		background-color:gray;
		color:white;
	}.product-detail .product-description{
		margin:10px 0px;
		border:1px solid #ccc;
		padding:10px;
	}.product-detail a{
		float:right;
	}

}