*{
    font-family:Arial, sans-serif;
}

.rad1{
    border-radius:1px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
}
.rad3{
    border-radius:3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.rad5{
    border-radius:5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.radCircle{
    border-radius: 225px;
    -moz-border-radius: 225px;
    -webkit-border-radius: 225px;
}

.rad7{
    border-radius:7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
}

.hidden{
    display: none;
}

a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    color:grey;
}

.noLine{
    text-decoration: none !important;
    border:none !important;
    outline:none !important;
}

.capital {
    text-transform: capitalize;
}

.fixed {
    position: fixed;
}

@media (max-width: 500px) {
    .small-hide {
        display:none;
    }
}