html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 12px;
}
/* Main Content */
section.main {
    width: 97%;
    /*background: url(../images/sidebar_shadow.png) repeat-y left top;*/
    float: left;
}
/*Box Search, Show, Next*/
div.dataTables_length {
    font-family: Ebrima,"sans-serif";
    color: white;
    float: right;
    margin-top: -38px;
}
div.dataTables_filter {
    font-family: Ebrima,"sans-serif";
    color: white;

    float: right;
    margin-top: -38px;
    margin-right: 150px;
}div.dataTables_filter input[type=text]{
    color:black;
}
div.dataTables_info {
    float: left;
    /*background-color: blue;*/
    font-family: Ebrima,"sans-serif";
    font-weight: bold;
    color: #315172;
}
div.dataTables_length,
div.dataTables_filter,
div.dataTables_paginate,
div.dataTables_info {
    padding: 6px;
}

/*Box Inside*/
table.dtTables{
    width: 100%;
    clear: both;
}

table.dtTables td,
table.dtTables th{
    padding: 5px;
    border:1px solid #b2b2b2;
    border-width:0px 1px 0px 0px;
}

/* Header Text cells */
table.dtTables thead td{
    border-bottom: 1px solid #b9b9b8;
    background: #ccd3db;
    color: #315172;
    text-align: center;
    font-family: Ebrima,"sans-serif";
    font-weight: bold;
    cursor:pointer;
}
/*Configuration Inside Table*/
.dtTables{
    float: left;
    margin-top: -2px;
}

/* Body cells */
table.dtTables tbody td {
    border-bottom: 1px solid #b9b9b8;
    background: #f8f8f8;
    color: #757575;
    text-align: left;
    font-family: Ebrima,"sans-serif";

}
/*color Odd inside Table*/
table.dtTables tbody tr.odd td {
    background: #ffffff;
    font-family: Ebrima,"sans-serif";
    color: #757575;
}

/*Bottom color background*/
div.dataTables_wrapper {
    background-color: #ccd3db;
}

/* Pagination nested */
.dataTables_paginate {
    float: right;
    text-align: right;
}
.dataTables_paginate *{
    padding:2px 8px;
    margin-left: 0px;
}

/* arrow */
.dtTables thead .ui-icon{
    display: none;
}

/*Position of DataTable*/
.module {
    border: 1px solid #b9b9b8;
    width: 100%;
    margin: 20px 3% 0 0;
    margin-top: 0px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #ffffff;	
}

.font_title{
	margin-top: 6px;
	margin-left: 20px;
	padding : 3px;
	width : 600px;
}

.main .module header h3.tabs_involved {
    width: 120px;
    margin-top: 0px;
	margin-bottom: 0px;
    float: left;
    color: white;
    font-size: 16px;
    font-family: Ebrima,"sans-serif";
    font-weight: normal;
    text-transform: none;
    text-align: left;
}
.main .module header .rightField{
    margin:7px 7px 0px 0px;
    float:right;
    font-weight: bold;
    color:#fff;
    text-align: right;
}
.main .module header .rightField.text{
    margin-top:10px;
}

.module header {
    height: 38px;    
    background: #1b41ae url(../header_bg.png) repeat-x;
    -webkit-border-top-left-radius: 5px; -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px; -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px; border-top-right-radius: 5px;
}
/*
 * Sorting classes for columns
 */
/* For the standard odd/even */
tr.odd td.sorting_1 {
    background-color: #f8f8f8 !important;
}

tr.odd td.sorting_2 {
    background-color: red;
}

tr.odd td.sorting_3 {
    background-color: red;
}

tr.even td.sorting_1 {
    background-color: #ebebeb;
}

tr.even td.sorting_2 {
    background-color: green;
}

tr.even td.sorting_3 {
    background-color: black;
}

[aria-sort]{
    background-color: #b0bcca !important;
    border-top: none;
    border-left: none;
    color:#1d344b !important;
}
table.dtTables .hButton{
    width:32px !important;
}
table.dtTables .nButton{
    width:15px !important;
}

/* Footer cells */
/*table.dtTables tfoot th {*/
/*background: #b0cc7f;*/
/*text-align: left;*/
/*}*/

/*table.dtTables tfoot td {*/
/*background: #d7e1c5;*/
/*text-align: center;*/
/*font-weight: bold;*/
/*}*/


/*table.dtTables {*/
/*clear: both;*/
/*}*/

/* Self clearing - */
/*div.dataTables_wrapper:after {*/
/*content: ".";*/
/*display: block;*/
/*clear: both;*/
/*visibility: hidden;*/
/*line-height: 0;*/
/*height: 0;*/
/*}*/

/*.width_3_quarter {*/
/*width: 100%;*/
/*margin-right: 0;*/
/*float: left;*/
/*border: 1px solid red;*/
/*}*/


/*No DataTABLES CONTACT INFORMATION*/
.OuterBox{
    border-bottom: 1px dotted #7380e6;
    padding: 5px;
}
.field_click_contact:focus{
    background: #d1e1e6;
}

.field_click_contact{
    width: 500px;
    padding: 5px;
    border: none;
    outline: none;
    border-radius: 3px;
    color: #757575;
    transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
}
.hText{
    float: left;
    margin-top: 3px;
    margin-left: 7px;
    width: 125px;
    padding: 3px;
    font-weight: bold;
    color: #757575;
}

/*Contact Update Input BUtton*/
.boxSubmit{
    text-align: center;
}
.inpSubmit_contact:hover{
    color: white;
    font-weight: bold;
    background: #4E77AA;
}
.inpSubmit_contact{
    width: 200px;
    padding: 5px;
    border-radius: 7px;
    background: #5c8ac3;
    color: #bababa;
    font-weight: bold;
    cursor : pointer;
    transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;

}