/* Error Info */
#eContainer{
    position:fixed;
    bottom:0px;
    right:17px;
    display:none;
    z-index: 999999;
}
#eContainer .eClose{
    position:absolute;
    right:5px;
    cursor:pointer;
}